body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(to bottom, #9d81ba, #abcdef);
}

.weather-card {
    background: rgba(255, 255, 255, 0.25); 
    backdrop-filter: blur(12px); 
    border-radius: 75px;
    padding: 40px 30px;
    text-align: center;
    width: 320px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.4);
    border: 1px solid rgba(255, 255, 255, 0.1); 
    color: #332f2c;
}
input{
	border: none;
	box-shadow: 0 15px 35px rgba(0, 0, 0, 0.1);   
	border-radius: 5px;
	background: rgba(255, 255, 255, 0.5)	
}
button{
	transition: transform 0.2s ease;
	outline: none;
	border: none;
	box-shadow: 0 15px 35px rgba(0, 0, 0, 0.1);
	border-radius: 5px;
	background: rgba(255, 255, 255, 0.5)  	
}
button:hover{
	cursor: pointer;
	transform: scale(1.05);
}
#historyBlock{
	max-height: 200px;
	overflow-y: auto;
}

#historyBlock::-webkit-Scrollbar{
	width: 6px;
}

#historyBlock::-webkit-Scrollbar-thumb{
	border-radius: 6px;
	background: rgba(0, 0, 0, 0.2);	
}